@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: gameFont;
    src: url('Retroville.ttf');
}

canvas {
    position: absolute;
}
#canvas-ground {
    z-index: 0;
}

#canvas-items {
    z-index: 1;
}

#canvas-grid {
    z-index: 2;
}

#canvas-player-inventory {
    z-index: 3;
}

#canvas-held-item {
    z-index: 4;
}

#canvas-interactions {
    z-index: 5;
}

